

.tiptap a{color:'#008F70' !important;font-style:italic;font-weight:600;}
.tiptap a:hover{color:'#0BFFCA' !important;}
.tiptap code{background-color:#161616;border-radius:0.4rem;color:#fff;font-size:0.85rem;padding:0.25em 0.3em;}
.tiptap .tableWrapper{margin:1.5rem 0;overflow-x:auto;}
.tiptap table{border-collapse:collapse;margin:0;overflow:hidden;table-layout:fixed;width:100%;}
.tiptap table td{border:1px solid #000;box-sizing:border-box;min-width:1em;padding:6px 8px;position:relative;vertical-align:top;}
.tiptap table th{background-color:#9a9a9a;font-weight:bold;text-align:left;border:1px solid #000;box-sizing:border-box;min-width:1em;padding:6px 8px;position:relative;vertical-align:top;}
.tiptap table td:focus{background-color:#b5b5b5 !important;font-weight:bold;text-align:left;}
.tiptap table .selectedCell:after{background:#9a9a9a;content:"";left:0;right:0;top:0;bottom:0;pointer-events:none;position:absolute;z-index:2;}
.tiptap table .column-resize-handle{background-color:#474646;bottom:-2px;pointer-events:none;position:absolute;right:-2px;top:0;width:4px;}
.tiptap h1{font-size:2em !important;font-weight:600 !important;}
.tiptap h2{font-size:1.5em !important;font-weight:600 !important;}
.tiptap h3{font-size:1em !important;font-weight:600 !important;}
